<div class="row">
    <div class="col-6">
        <p>Lista de Alunos</p>

        <div class="list-group">
            <!-- Pelo fato de ser rota filha, a rota de id é somente ":id", portanto, pode-se passar diretamente o id, sem o /rota -->
            <a 
                class="list-group-item list-group-item-action"
                *ngFor="let aluno of alunos"
                [routerLink]="[aluno.id]" 
            >{{ aluno.nome }}</a>
        </div>
    </div>
    <div class="col-6">
        <router-outlet></router-outlet>
    </div>
</div>